<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Euskal Voting System</title>
        <style>
            html, body{
                height: 100%;
                width: 100%;
            }
            canvas {
                margin-top: 5%;
                padding-left: 0;
                padding-right: 0;
                margin-left: auto;
                margin-right: auto;
                display:block;
            }
            
        </style>
    </head>
    
    <body>
        <h1 align="center">EUSKAL VOTING SYSTEM</h1>
        <h2 align="center">PREGUNTA: ¿QUIERES DARLE AL NO?</h2>
        <canvas id="canvasId"></canvas>
        
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/votes.js"></script>
        <script src="/Chart.js"></script>
        <script>
            var ctx = document.getElementById("canvasId").getContext("2d");
            var data = {
                labels: ["YES", "NO"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [0, 0]
                    },
                ]
            };
            var myBarChart = new Chart(ctx).Bar(data, {
                barShowStroke: true,
                showTooltips: false,
                showLabelsOnBars:true,
                barLabelFontColor:"gray",
                scaleShowLabels: true,
            });
        </script>
    </body>
</html>
